* {
  margin: 0;
  padding: 0;
}
.navigation {
  font-family: var(--font1);
  height: 74px;
  /* background-color: #c3b9b7; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.nav-left {
  font-size: 26px;
  display: flex;
}

.nav-left span {
  font-size: 26px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 144px;
  font-size: 18.2px;
  font-weight: bold;
}

.nav-left ul li {
  list-style: none;
  margin: 0 36px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: #47294c;
}

.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}

.content {
  height: 230px;
  /* background-color: rgb(147, 147, 231); */
  display: flex;
  padding: 9px;
}

.content::after {
  content: "";
  background-image: url("../img/Web_15-04.jpg");
  position: absolute;
  width: 81%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 31px;
}

.content-left p {
  padding-top: 13px;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px;
}

.content-right img {
  height: 200px;
  border: 2px solid black;
  border-radius: 23px;
}

.home-articles {
  background-color: rgb(248,239,239, 0.5);
  padding-top: 12px;
  margin-top: 23px;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 250px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a{
  text-decoration: none;
  color: blue;
}
/* .home-articles{

} */

.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}
